:root {
  --rubik-font-family: "Rubik", serif;
  --dm-font-family: "DM Serif Display", serif;

  --color-dark-violet: hsl(256, 26%, 20%);
  --color-grayish-blue: hsl(216, 30%, 68%);

  --color-very-dark-violet: hsl(270, 9%, 17%);
  --color-dark-grayish-violet: hsl(273, 4%, 51%);
  --color-very-light-gray: hsl(0, 0%, 98%);

  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--dm-font-family);
}

.insure-landing-header {
  width: 100%;
  height: fit-content;
  padding: 1.5rem 10rem;
  position: relative;
  background-color: white;
  box-shadow: 0 0 2rem var(--color-dark-grayish-violet);
  z-index: 2;
}

.landing-page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.nav-list-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-list-item {
  list-style: none;
}

.nav-list-item a {
  text-decoration: none;
  font-family: var(--rubik-font-family);
  font-size: var(--font-size);
  text-transform: uppercase;
  color: var(--color-dark-grayish-violet);
}

.nav-list-item a:hover {
  color: var(--color-very-dark-violet);
}

.landing-page-navigation .view-plans {
  width: 200px;
  height: 50px;
  border: 2px solid var(--color-dark-violet);
  background: none;
  color: var(--color-dark-violet);
  font-family: var(--rubik-font-family);
  cursor: pointer;
  outline: none;
  font-size: var(--font-size);
  text-transform: uppercase;
}

.landing-page-navigation .view-plans:hover {
  color: var(--color-very-light-gray);
  background-color: var(--color-very-dark-violet);
}

.insure-landing-page-content {
  width: 100%;
  height: fit-content;
  z-index: auto;
}

.landing-content-intro {
  width: 100%;
  height: 85vh;
  position: relative;
  padding: 6rem 10rem 0;
  background-color: var(--color-dark-violet);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.intro-pattern-right-desktop {
  position: absolute;
  top: -5rem;
  right: 0;
  z-index: 0;
}

.intro-pattern-left-desktop {
  position: absolute;
  bottom: -50.5%;
  left: 0;
}

.intro-section-left {
  position: relative;
  padding: 3rem 0;
  width: 55%;
}

.intro-section-left::before {
  content: "";
  width: 200px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
}

.intro-section-left h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  color: var(--color-very-light-gray);
  margin-bottom: 2rem;
  padding-right: 5rem;
}

.intro-section-left p {
  font-size: 1.1rem;
  color: var(--color-very-light-gray);
  font-family: var(--rubik-font-family);
  margin-bottom: 2rem;
  line-height: 2rem;
  padding-right: 1rem;
}

.intro-section-left .view-plans {
  width: 200px;
  height: 50px;
  border: 2px solid var(--color-very-light-gray);
  background: none;
  font-family: var(--rubik-font-family);
  color: var(--color-very-light-gray);
  cursor: pointer;
  font-size: var(--font-size);
  text-transform: uppercase;
}

.intro-section-left .view-plans:hover {
  background-color: var(--color-very-light-gray);
  color: var(--color-very-dark-violet);
}

.landing-different-section {
  width: 100%;
  padding: 20rem 10rem 0;
}

.landing-different-section .line {
  width: 200px;
  height: 2px;
  background-color: var(--color-dark-grayish-violet);
  margin-bottom: 3rem;
}

.section-heading {
  font-size: 4.5rem;
  color: var(--color-very-dark-violet);
  margin-bottom: 4rem;
}

.different-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

.different-item {
  width: 100%;
}

.different-item img {
  margin-bottom: 2rem;
}

.different-item h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--color-very-dark-violet);
}

.different-item p {
  font-size: var(--font-size);
  line-height: 1.5rem;
  padding-right: 3rem;
  font-family: var(--rubik-font-family);
  margin-bottom: 1.5rem;
  color: var(--color-dark-grayish-violet);
}

.different-item:nth-child(2) p {
  padding-right: 2rem;
}

.find-out-more-section {
  width: 80%;
  background-color: var(--color-dark-violet);
  margin: 8rem auto;
  position: relative;
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.more-section-pattern {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.more-section-header {
  font-size: 4rem;
  line-height: 4rem;
  width: 55%;
  color: var(--color-very-light-gray);
}

.how-we-work {
  width: 200px;
  height: 50px;
  position: relative;
  z-index: 1;
  background: none;
  border: 2px solid var(--color-very-light-gray);
  color: var(--color-very-light-gray);
  font-size: var(--font-size);
  font-family: var(--rubik-font-family);
  text-transform: uppercase;
  cursor: pointer;
}

.how-we-work:hover {
  background-color: var(--color-very-light-gray);
  color: var(--color-very-dark-violet);
}

.insure-page-footer {
  width: 100%;
  margin-top: 3rem;
  padding: 6rem 10rem;
  background-color: var(--color-very-light-gray);
  position: relative;
}

.insure-footer-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.landing-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--color-dark-grayish-violet);
  position: relative;
  z-index: 1;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer-icon {
  cursor: pointer;
}

.footer-icon i {
  font-size: 2rem;
  color: var(--color-dark-grayish-violet);
}

.footer-icon i:hover {
  color: var(--color-very-dark-violet);
}

.landing-footer-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3rem 0 0;
  position: relative;
  z-index: 1;
  gap: 3rem;
}

.item-group-heading {
  font-size: 1.1rem;
  color: var(--color-dark-grayish-violet);
  font-family: var(--rubik-font-family);
  margin-bottom: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-item {
  list-style-type: none;
  margin-bottom: 0.6rem;
}

.footer-item a {
  text-decoration: none;
  font-size: var(--font-size);
  font-family: var(--rubik-font-family);
  color: var(--color-very-dark-violet);
  text-transform: uppercase;
}

.footer-item a:hover {
  text-decoration: underline;
}

.close_menu_btn,
.menu_btn {
  display: none;
}

.intro-pattern-left-mobile {
  display: none;
}

.intro-pattern-right-mobile {
  display: none;
}

.intro-mobile {
  display: none;
}

.more-section-pattern-mobile {
  display: none;
}

.insure-footer-pattern-mobile {
  display: none;
}

.insure-mobile-menu {
  display: none;
}

@media (max-width: 1500px) {
  .insure-landing-header {
    width: 100%;
    padding: 1.5rem 5rem;
    position: fixed;
    top: 0;
  }

  .insure-mobile-menu {
    display: none;
  }

  .mobile-menu-pattern {
    display: none;
  }

  .intro-pattern-left-desktop {
    display: block;
    bottom: -30%;
  }

  .intro-pattern-right-desktop {
    display: block;
  }

  .landing-content-intro {
    width: 100%;
    padding: 8rem 5rem 3rem;
    margin-top: 3.5rem;
  }

  .intro-desktop {
    width: 100%;
    display: block;
  }

  .intro-mobile {
    display: none;
  }

  .intro-section-right {
    width: 50%;
    height: fit-content;
  }

  .intro-section-left {
    width: 50%;
    padding: 4rem 1rem;
    position: relative;
  }

  .intro-section-left h1 {
    font-size: 4rem;
    line-height: 4rem;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .intro-section-left p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .intro-pattern-left-mobile {
    display: none;
  }

  .intro-pattern-right-mobile {
    display: none;
  }

  .landing-different-section {
    padding: 0 5rem;
    margin-top: 18rem;
  }

  .section-heading {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .different-items {
    padding: 1rem;
  }

  .different-item {
    padding: 1rem;
    text-align: left;
  }

  .different-item .item-paragraph {
    padding-right: 1rem;
  }

  .different-item:nth-child(2) .item-paragraph {
    padding-right: 1rem;
  }

  .find-out-more-section {
    position: relative;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
  }

  .more-section-pattern-mobile {
    display: none;
  }

  .more-section-header {
    font-size: 3.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  .insure-page-footer {
    overflow: hidden;
  }

  .insure-footer-pattern {
    display: none;
  }

  .insure-footer-pattern-mobile {
    display: block;
    position: absolute;
    top: -3rem;
    left: -6rem;
  }

  .insure-page-footer {
    padding: 5rem;
  }

  .landing-footer-bottom {
    gap: 2rem;
  }
}

@media (max-width: 1400px) {
  .insure-landing-header {
    width: 100%;
    padding: 1.5rem 3rem;
    position: fixed;
    top: 0;
  }

  .insure-mobile-menu {
    display: none;
  }

  .mobile-menu-pattern {
    display: none;
  }

  .intro-pattern-left-desktop {
    display: block;
    bottom: -30%;
  }

  .intro-pattern-right-desktop {
    display: block;
  }

  .landing-content-intro {
    width: 100%;
    padding: 8rem 3rem 3rem;
    margin-top: 3.5rem;
  }

  .intro-desktop {
    width: 100%;
    display: block;
  }

  .intro-mobile {
    display: none;
  }

  .intro-section-right {
    width: 50%;
    height: fit-content;
  }

  .intro-section-left {
    width: 50%;
    padding: 4rem 1rem;
    position: relative;
  }

  .intro-section-left h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .intro-section-left p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .intro-pattern-left-mobile {
    display: none;
  }

  .intro-pattern-right-mobile {
    display: none;
  }

  .landing-different-section {
    padding: 0 5rem;
    margin-top: 18rem;
  }

  .section-heading {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .different-items {
    padding: 1rem;
  }

  .different-item {
    padding: 1rem;
    text-align: left;
  }

  .different-item .item-paragraph {
    padding-right: 1rem;
  }

  .different-item:nth-child(2) .item-paragraph {
    padding-right: 1rem;
  }

  .find-out-more-section {
    position: relative;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
  }

  .more-section-pattern-mobile {
    display: none;
  }

  .more-section-header {
    font-size: 3.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  .insure-page-footer {
    overflow: hidden;
  }

  .insure-footer-pattern {
    display: none;
  }

  .insure-footer-pattern-mobile {
    display: block;
    position: absolute;
    top: -3rem;
    left: -6rem;
  }

  .insure-page-footer {
    padding: 5rem;
  }

  .landing-footer-bottom {
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  .insure-landing-header {
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
  }

  .insure-mobile-menu.active {
    width: 100%;
    display: block;
    position: fixed;
    background-color: var(--color-very-dark-violet);
    left: 0;
    top: 5rem;
    padding: 4rem 2rem;
    height: 83vh;
    overflow: hidden;
  }

  .mobile-menu-pattern {
    width: 100%;
    position: absolute;
    bottom: -5rem;
    left: 0;
  }

  .insure-mobile-menu {
    text-align: center;
    margin-bottom: 1rem;
  }

  .insure-mobile-menu li {
    list-style: none;
    margin-bottom: 2.5rem;
  }

  .insure-mobile-menu li a {
    text-decoration: none;
    font-family: var(--rubik-font-family);
    font-size: 1.2rem;
    color: var(--color-very-light-gray);
    text-transform: uppercase;
  }

  .insure-mobile-menu .view-plans {
    width: 100%;
    height: 50px;
    background: none;
    color: var(--color-very-light-gray);
    font-size: var(--font-size);
    font-family: var(--rubik-font-family);
    border: 2px solid var(--color-very-light-gray);
    text-transform: uppercase;
    cursor: pointer;
  }

  .insure-mobile-menu .view-plans:hover {
    background-color: var(--color-very-light-gray);
    color: var(--color-very-dark-violet);
  }

  .intro-pattern-left-desktop {
    display: none;
  }

  .intro-pattern-right-desktop {
    display: none;
  }

  .nav-items-right {
    display: none;
  }

  .close_menu_btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu_btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .landing-content-intro {
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 3.5rem;
  }

  .intro-desktop {
    width: 100%;
    display: block;
  }

  .intro-mobile {
    display: none;
  }

  .intro-section-right {
    width: 100%;
    height: fit-content;
  }

  .intro-section-left {
    width: 100%;
    padding: 4rem 1rem;
    position: relative;
    text-align: center;
  }

  .intro-section-left h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .intro-section-left p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.8rem;
  }

  .intro-section-left::before {
    display: none;
  }

  .intro-pattern-left-mobile {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0;
  }

  .intro-pattern-right-mobile {
    display: block;
    position: absolute;
    bottom: -14rem;
    right: 0;
  }

  .landing-different-section {
    text-align: center;
    padding: 0;
    margin-top: 9rem;
  }

  .line {
    margin: 0 auto;
  }

  .section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .different-items {
    padding: 1rem;
  }

  .different-item {
    padding: 1rem;
    text-align: center;
  }

  .different-item .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .different-item:nth-child(2) .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .find-out-more-section {
    width: 90%;
    position: relative;
    padding: 5rem 1.5rem;
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }

  .more-section-pattern {
    display: none;
  }

  .more-section-pattern-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .more-section-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 2.8rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .insure-page-footer {
    overflow: hidden;
  }

  .insure-footer-pattern {
    display: none;
  }

  .insure-footer-pattern-mobile {
    display: block;
    position: absolute;
    top: -3rem;
    left: -6rem;
  }

  .insure-page-footer {
    padding: 5rem 1rem;
  }

  .landing-footer-top {
    flex-direction: column;
    gap: 2rem;
  }

  .landing-footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .insure-landing-header {
    width: 100%;
    padding: 1.5rem 3rem;
    position: fixed;
    top: 0;
  }

  .insure-mobile-menu.active {
    width: 100%;
    display: block;
    position: fixed;
    background-color: var(--color-very-dark-violet);
    left: 0;
    top: 5rem;
    padding: 4rem 2rem;
    height: 83vh;
    overflow: hidden;
  }

  .mobile-menu-pattern {
    width: 100%;
    position: absolute;
    bottom: -5rem;
    left: 0;
  }

  .insure-mobile-menu {
    text-align: center;
    margin-bottom: 1rem;
  }

  .insure-mobile-menu li {
    list-style: none;
    margin-bottom: 2.5rem;
  }

  .insure-mobile-menu li a {
    text-decoration: none;
    font-family: var(--rubik-font-family);
    font-size: 1.2rem;
    color: var(--color-very-light-gray);
    text-transform: uppercase;
  }

  .insure-mobile-menu .view-plans {
    width: 100%;
    height: 50px;
    background: none;
    color: var(--color-very-light-gray);
    font-size: var(--font-size);
    font-family: var(--rubik-font-family);
    border: 2px solid var(--color-very-light-gray);
    text-transform: uppercase;
    cursor: pointer;
  }

  .insure-mobile-menu .view-plans:hover {
    background-color: var(--color-very-light-gray);
    color: var(--color-very-dark-violet);
  }

  .intro-pattern-left-desktop {
    display: none;
  }

  .intro-pattern-right-desktop {
    display: none;
  }

  .nav-items-right {
    display: none;
  }

  .close_menu_btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu_btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .landing-content-intro {
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 3.5rem;
  }

  .intro-desktop {
    width: 100%;
    display: block;
  }

  .intro-mobile {
    display: none;
  }

  .intro-section-right {
    width: 100%;
    height: fit-content;
  }

  .intro-section-left {
    width: 100%;
    padding: 4rem 1rem;
    position: relative;
    text-align: center;
  }

  .intro-section-left h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .intro-section-left p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.8rem;
  }

  .intro-section-left::before {
    display: none;
  }

  .intro-pattern-left-mobile {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0;
  }

  .intro-pattern-right-mobile {
    display: block;
    position: absolute;
    bottom: -14rem;
    right: 0;
  }

  .landing-different-section {
    text-align: center;
    padding: 0;
    margin-top: 9rem;
  }

  .line {
    margin: 0 auto;
  }

  .section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .different-items {
    padding: 1rem;
  }

  .different-item {
    padding: 1rem;
    text-align: center;
  }

  .different-item .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .different-item:nth-child(2) .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .find-out-more-section {
    width: 90%;
    position: relative;
    padding: 5rem 1.5rem;
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }

  .more-section-pattern {
    display: none;
  }

  .more-section-pattern-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .more-section-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 2.8rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .insure-page-footer {
    overflow: hidden;
  }

  .insure-footer-pattern {
    display: none;
  }

  .insure-footer-pattern-mobile {
    display: block;
    position: absolute;
    top: -3rem;
    left: -6rem;
  }

  .insure-page-footer {
    padding: 5rem 1rem;
  }

  .landing-footer-top {
    flex-direction: column;
    gap: 2rem;
  }

  .landing-footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .insure-landing-header {
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
  }

  .insure-mobile-menu.active {
    width: 100%;
    display: block;
    position: fixed;
    background-color: var(--color-very-dark-violet);
    left: 0;
    top: 5rem;
    padding: 4rem 2rem;
    height: 83vh;
    overflow: hidden;
  }

  .mobile-menu-pattern {
    width: 100%;
    position: absolute;
    bottom: -5rem;
    left: 0;
  }

  .insure-mobile-menu {
    text-align: center;
    margin-bottom: 1rem;
  }

  .insure-mobile-menu li {
    list-style: none;
    margin-bottom: 2.5rem;
  }

  .insure-mobile-menu li a {
    text-decoration: none;
    font-family: var(--rubik-font-family);
    font-size: 1.2rem;
    color: var(--color-very-light-gray);
    text-transform: uppercase;
  }

  .insure-mobile-menu .view-plans {
    width: 100%;
    height: 50px;
    background: none;
    color: var(--color-very-light-gray);
    font-size: var(--font-size);
    font-family: var(--rubik-font-family);
    border: 2px solid var(--color-very-light-gray);
    text-transform: uppercase;
    cursor: pointer;
  }

  .insure-mobile-menu .view-plans:hover {
    background-color: var(--color-very-light-gray);
    color: var(--color-very-dark-violet);
  }

  .intro-pattern-left-desktop {
    display: none;
  }

  .intro-pattern-right-desktop {
    display: none;
  }

  .nav-items-right {
    display: none;
  }

  .close_menu_btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu_btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .landing-content-intro {
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 3.5rem;
  }

  .intro-desktop {
    width: 100%;
    display: block;
  }

  .intro-mobile {
    display: none;
  }

  .intro-section-right {
    width: 100%;
    height: fit-content;
  }

  .intro-section-left {
    width: 100%;
    padding: 4rem 1rem;
    position: relative;
    text-align: center;
  }

  .intro-section-left h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .intro-section-left p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.8rem;
  }

  .intro-section-left::before {
    display: none;
  }

  .intro-pattern-left-mobile {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0;
  }

  .intro-pattern-right-mobile {
    display: block;
    position: absolute;
    bottom: -14rem;
    right: 0;
  }

  .landing-different-section {
    text-align: center;
    padding: 0;
    margin-top: 9rem;
  }

  .line {
    margin: 0 auto;
  }

  .section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .different-items {
    padding: 1rem;
  }

  .different-item {
    padding: 1rem;
    text-align: center;
  }

  .different-item .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .different-item:nth-child(2) .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .find-out-more-section {
    width: 90%;
    position: relative;
    padding: 5rem 1.5rem;
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }

  .more-section-pattern {
    display: none;
  }

  .more-section-pattern-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .more-section-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 2.8rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .insure-page-footer {
    overflow: hidden;
  }

  .insure-footer-pattern {
    display: none;
  }

  .insure-footer-pattern-mobile {
    display: block;
    position: absolute;
    top: -3rem;
    left: -6rem;
  }

  .insure-page-footer {
    padding: 5rem 1rem;
  }

  .landing-footer-top {
    flex-direction: column;
    gap: 2rem;
  }

  .landing-footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}

@media (max-width: 500px) {
  .insure-landing-header {
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
  }

  .insure-mobile-menu.active {
    width: 100%;
    display: block;
    position: fixed;
    background-color: var(--color-very-dark-violet);
    left: 0;
    top: 5rem;
    padding: 4rem 2rem;
    height: 83vh;
    overflow: hidden;
  }

  .mobile-menu-pattern {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .insure-mobile-menu {
    text-align: center;
    margin-bottom: 1rem;
  }

  .insure-mobile-menu li {
    list-style: none;
    margin-bottom: 2.5rem;
  }

  .insure-mobile-menu li a {
    text-decoration: none;
    font-family: var(--rubik-font-family);
    font-size: 1.2rem;
    color: var(--color-very-light-gray);
    text-transform: uppercase;
  }

  .insure-mobile-menu .view-plans {
    width: 100%;
    height: 50px;
    background: none;
    color: var(--color-very-light-gray);
    font-size: var(--font-size);
    font-family: var(--rubik-font-family);
    border: 2px solid var(--color-very-light-gray);
    text-transform: uppercase;
    cursor: pointer;
  }

  .insure-mobile-menu .view-plans:hover {
    background-color: var(--color-very-light-gray);
    color: var(--color-very-dark-violet);
  }

  .intro-pattern-left-desktop {
    display: none;
  }

  .intro-pattern-right-desktop {
    display: none;
  }

  .nav-items-right {
    display: none;
  }

  .close_menu_btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu_btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .landing-content-intro {
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 3.5rem;
  }

  .intro-desktop {
    width: 100%;
    display: block;
  }

  .intro-mobile {
    display: none;
  }

  .intro-section-right {
    width: 100%;
    height: fit-content;
  }

  .intro-section-left {
    width: 100%;
    padding: 4rem 1rem;
    position: relative;
    text-align: center;
  }

  .intro-section-left h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .intro-section-left p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.8rem;
  }

  .intro-section-left::before {
    display: none;
  }

  .intro-pattern-left-mobile {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0;
  }

  .intro-pattern-right-mobile {
    display: block;
    position: absolute;
    bottom: -14rem;
    right: 0;
  }

  .landing-different-section {
    text-align: center;
    padding: 0;
    margin-top: 9rem;
  }

  .line {
    margin: 0 auto;
  }

  .section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .different-items {
    padding: 1rem;
  }

  .different-item {
    padding: 1rem;
    text-align: center;
  }

  .different-item .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .different-item:nth-child(2) .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .find-out-more-section {
    width: 90%;
    position: relative;
    padding: 5rem 1.5rem;
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }

  .more-section-pattern {
    display: none;
  }

  .more-section-pattern-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .more-section-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 2.8rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .insure-page-footer {
    overflow: hidden;
  }

  .insure-footer-pattern {
    display: none;
  }

  .insure-footer-pattern-mobile {
    display: block;
    position: absolute;
    top: -3rem;
    left: -6rem;
  }

  .insure-page-footer {
    padding: 5rem 1rem;
  }

  .landing-footer-top {
    flex-direction: column;
    gap: 2rem;
  }

  .landing-footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}
@media (max-width: 375px) {
  .insure-landing-header {
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
  }

  .insure-mobile-menu.active {
    width: 100%;
    display: block;
    position: fixed;
    background-color: var(--color-very-dark-violet);
    left: 0;
    top: 5rem;
    padding: 4rem 2rem;
    height: 83vh;
    overflow: hidden;
  }

  .mobile-menu-pattern {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .insure-mobile-menu {
    text-align: center;
    margin-bottom: 1rem;
  }

  .insure-mobile-menu li {
    list-style: none;
    margin-bottom: 2.5rem;
  }

  .insure-mobile-menu li a {
    text-decoration: none;
    font-family: var(--rubik-font-family);
    font-size: 1.2rem;
    color: var(--color-very-light-gray);
    text-transform: uppercase;
  }

  .insure-mobile-menu .view-plans {
    width: 100%;
    height: 50px;
    background: none;
    color: var(--color-very-light-gray);
    font-size: var(--font-size);
    font-family: var(--rubik-font-family);
    border: 2px solid var(--color-very-light-gray);
    text-transform: uppercase;
  }

  .intro-pattern-left-desktop {
    display: none;
  }

  .intro-pattern-right-desktop {
    display: none;
  }

  .nav-items-right {
    display: none;
  }

  .close_menu_btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu_btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .landing-content-intro {
    width: 100%;
    height: fit-content;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 3.5rem;
  }

  .intro-desktop {
    display: none;
  }

  .intro-mobile {
    display: block;
  }

  .intro-section-right {
    width: 100%;
    height: fit-content;
  }

  .intro-section-left {
    width: 100%;
    padding: 4rem 1rem;
    position: relative;
    text-align: center;
  }

  .intro-section-left h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .intro-section-left p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.8rem;
  }

  .intro-section-left::before {
    display: none;
  }

  .intro-pattern-left-mobile {
    display: block;
    position: absolute;
    top: -2rem;
    left: 0;
  }

  .intro-pattern-right-mobile {
    display: block;
    position: absolute;
    bottom: -14rem;
    right: 0;
  }

  .landing-different-section {
    text-align: center;
    padding: 0;
    margin-top: 9rem;
  }

  .line {
    margin: 0 auto;
  }

  .section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .different-items {
    padding: 1rem;
  }

  .different-item {
    padding: 1rem;
    text-align: center;
  }

  .different-item .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .different-item:nth-child(2) .item-paragraph {
    padding: 0;
    text-align: center;
  }

  .find-out-more-section {
    width: 90%;
    position: relative;
    padding: 5rem 1.5rem;
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }

  .more-section-pattern {
    display: none;
  }

  .more-section-pattern-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .more-section-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0;
    line-height: 2.8rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .insure-page-footer {
    overflow: hidden;
  }

  .insure-footer-pattern {
    display: none;
  }

  .insure-footer-pattern-mobile {
    display: block;
    position: absolute;
    top: -3rem;
    left: -6rem;
  }

  .insure-page-footer {
    padding: 5rem 1rem;
  }

  .landing-footer-top {
    flex-direction: column;
    gap: 2rem;
  }

  .landing-footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}
